<template>
  <div id="app">
    <div class="row">
      <div class="column">
        <h1>Gear</h1>
        <!-- Weapon: <select id="weapon" v-model="set.weapon" @change="update_set()">
          <option v-for="item in item_list.weapons" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
        </select><br> -->
        <!-- Charm: <select id="charm" v-model="set.charm" @change="update_set()">
          <option v-for="item in item_list.charms" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
        </select><br> -->
        <div class="select-box">
          <div class="image-box">
            <h2><img height="30px" src="/static/img/helmet.png"> Helmet</h2>
          </div>
          <div class="option-box">
            <select2 id="helmet" v-model="set.helmet" style="width: 200px;">
              <option v-for="item in item_list.helmets" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
            </select2>
          </div>
          <div class="info-box">
            <br>
            Defense: {{ parsed_set.gear.helmet.defense }}<br>
            Resists:
            <ul>
              <li>Fire - {{ parsed_set.gear.helmet.resistances.fire }}</li>
              <li>Water - {{ parsed_set.gear.helmet.resistances.water }}</li>
              <li>Thunder - {{ parsed_set.gear.helmet.resistances.thunder }}</li>
              <li>Ice - {{ parsed_set.gear.helmet.resistances.ice }}</li>
              <li>Dragon - {{ parsed_set.gear.helmet.resistances.dragon }}</li>
            </ul>
            Slots: Tier 1 - {{parsed_set.gear.helmet.tier_1_slots}} | Tier 2 - {{parsed_set.gear.helmet.tier_2_slots}} | Tier 3 - {{parsed_set.gear.helmet.tier_3_slots}}
          </div>
        </div>
        <div class="select-box">
          <div class="image-box">
            <h2><img height="30px" src="/static/img/chest.png"> Chest</h2>
          </div>
          <div class="option-box">
            <select2 id="chest" v-model="set.chest">
              <option v-for="item in item_list.chests" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
            </select2>
          </div>
          <div class="info-box">
            <br>
            Defense: {{ parsed_set.gear.chest.defense }}<br>
            Resists:
            <ul>
              <li>Fire - {{ parsed_set.gear.chest.resistances.fire }}</li>
              <li>Water - {{ parsed_set.gear.chest.resistances.water }}</li>
              <li>Thunder - {{ parsed_set.gear.chest.resistances.thunder }}</li>
              <li>Ice - {{ parsed_set.gear.chest.resistances.ice }}</li>
              <li>Dragon - {{ parsed_set.gear.chest.resistances.dragon }}</li>
            </ul>
            Slots: Tier 1 - {{parsed_set.gear.chest.tier_1_slots}} | Tier 2 - {{parsed_set.gear.chest.tier_2_slots}} | Tier 3 - {{parsed_set.gear.chest.tier_3_slots}}
          </div>
        </div>
        <div class="select-box">
          <div class="image-box">
            <h2><img height="30px" src="/static/img/arms.png"> Arms</h2>
          </div>
          <div class="option-box">
            <select2 id="arms" v-model="set.arms">
              <option v-for="item in item_list.arms" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
            </select2>
          </div>
          <div class="info-box">
            <br>
            Defense: {{ parsed_set.gear.arms.defense }}<br>
            Resists:
            <ul>
              <li>Fire - {{ parsed_set.gear.arms.resistances.fire }}</li>
              <li>Water - {{ parsed_set.gear.arms.resistances.water }}</li>
              <li>Thunder - {{ parsed_set.gear.arms.resistances.thunder }}</li>
              <li>Ice - {{ parsed_set.gear.arms.resistances.ice }}</li>
              <li>Dragon - {{ parsed_set.gear.arms.resistances.dragon }}</li>
            </ul>
            Slots: Tier 1 - {{parsed_set.gear.arms.tier_1_slots}} | Tier 2 - {{parsed_set.gear.arms.tier_2_slots}} | Tier 3 - {{parsed_set.gear.arms.tier_3_slots}}
          </div>
        </div>
        <div class="select-box">
          <div class="image-box">
            <h2><img height="30px" src="/static/img/waist.png"> Waist</h2>
          </div>
          <div class="option-box">
            <select2 id="waist" v-model="set.waist">
              <option v-for="item in item_list.waists" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
            </select2>
          </div>
          <div class="info-box">
            <br>
            Defense: {{ parsed_set.gear.waist.defense }}<br>
            Resists:
            <ul>
              <li>Fire - {{ parsed_set.gear.waist.resistances.fire }}</li>
              <li>Water - {{ parsed_set.gear.waist.resistances.water }}</li>
              <li>Thunder - {{ parsed_set.gear.waist.resistances.thunder }}</li>
              <li>Ice - {{ parsed_set.gear.waist.resistances.ice }}</li>
              <li>Dragon - {{ parsed_set.gear.waist.resistances.dragon }}</li>
            </ul>
            Slots: Tier 1 - {{parsed_set.gear.waist.tier_1_slots}} | Tier 2 - {{parsed_set.gear.waist.tier_2_slots}} | Tier 3 - {{parsed_set.gear.waist.tier_3_slots}}
          </div>
        </div>
        <div class="select-box">
          <div class="image-box">
            <h2><img height="30px" src="/static/img/legs.png"> Legs</h2>
          </div>
          <div class="option-box">
            <select2 id="legs" v-model="set.legs">
              <option v-for="item in item_list.legs" :key="item.name" v-text="item.name" v-bind:value="item.id"></option>
            </select2>
          </div>
          <div class="info-box">
            <br>
            Defense: {{ parsed_set.gear.legs.defense }}<br>
            Resists:
            <ul>
              <li>Fire - {{ parsed_set.gear.legs.resistances.fire }}</li>
              <li>Water - {{ parsed_set.gear.legs.resistances.water }}</li>
              <li>Thunder - {{ parsed_set.gear.legs.resistances.thunder }}</li>
              <li>Ice - {{ parsed_set.gear.legs.resistances.ice }}</li>
              <li>Dragon - {{ parsed_set.gear.legs.resistances.dragon }}</li>
            </ul>
            Slots: Tier 1 - {{parsed_set.gear.legs.tier_1_slots}} | Tier 2 - {{parsed_set.gear.legs.tier_2_slots}} | Tier 3 - {{parsed_set.gear.legs.tier_3_slots}}
          </div>
        </div>
      </div>
      <div class="column">
        <h1>Armor</h1>
        <!-- <h3>Weapon</h3>
        Name: {{ parsed_set.gear.weapon.name }}<br>
        Type: {{ parsed_set.gear.weapon.type }}<br>
        Damage: {{ parsed_set.gear.weapon.damage }}<br>
        Slots: Tier 1 - {{parsed_set.gear.weapon.tier_1_slots}} | Tier 2 - {{parsed_set.gear.weapon.tier_2_slots}} | Tier 3 - {{parsed_set.gear.weapon.tier_3_slots}}
        <h3>Charm</h3>
        Name: {{ parsed_set.gear.charm.name }}<br>
        Slots: Tier 1 - {{parsed_set.gear.charm.tier_1_slots}} | Tier 2 - {{parsed_set.gear.charm.tier_2_slots}} | Tier 3 - {{parsed_set.gear.charm.tier_3_slots}}
        --><h3>Helmet</h3>
        Name: {{ parsed_set.gear.helmet.name }}<br>
        Defense: {{ parsed_set.gear.helmet.defense }}<br>
        Slots: Tier 1 - {{parsed_set.gear.helmet.tier_1_slots}} | Tier 2 - {{parsed_set.gear.helmet.tier_2_slots}} | Tier 3 - {{parsed_set.gear.helmet.tier_3_slots}}
        <h3>Chest</h3>
        Name: {{ parsed_set.gear.chest.name }}<br>
        Defense: {{ parsed_set.gear.chest.defense }}<br>
        Slots: Tier 1 - {{parsed_set.gear.chest.tier_1_slots}} | Tier 2 - {{parsed_set.gear.chest.tier_2_slots}} | Tier 3 - {{parsed_set.gear.chest.tier_3_slots}}
        <h3>Arms</h3>
        Name: {{ parsed_set.gear.arms.name }}<br>
        Defense: {{ parsed_set.gear.arms.defense }}<br>
        Slots: Tier 1 - {{parsed_set.gear.arms.tier_1_slots}} | Tier 2 - {{parsed_set.gear.arms.tier_2_slots}} | Tier 3 - {{parsed_set.gear.arms.tier_3_slots}}
        <h3>Waist</h3>
        Name: {{ parsed_set.gear.waist.name }}<br>
        Defense: {{ parsed_set.gear.waist.defense }}<br>
        Slots: Tier 1 - {{parsed_set.gear.waist.tier_1_slots}} | Tier 2 - {{parsed_set.gear.waist.tier_2_slots}} | Tier 3 - {{parsed_set.gear.waist.tier_3_slots}}
        <h3>Legs</h3>
        Name: {{ parsed_set.gear.legs.name }}<br>
        Defense: {{ parsed_set.gear.legs.defense }}<br>
        Slots: Tier 1 - {{parsed_set.gear.legs.tier_1_slots}} | Tier 2 - {{parsed_set.gear.legs.tier_2_slots}} | Tier 3 - {{parsed_set.gear.legs.tier_3_slots}}
      </div>
      <div class="column">
        <h1>Skills</h1>
        <div v-for="skill in parsed_set.skills" :key="skill.name">
          <h2>{{ skill.name }}</h2>
          <h3>Level {{ skill.unlocked_level }}/{{ skill.max_level }}</h3>
          <ul>
            <li v-for="level in skill.levels" :key="level.level" v-if="level.level <= skill.unlocked_level">
              <strong>{{ level.level }} - {{ level.description }}</strong>
            </li>
            <li v-else>
              {{ level.level }} - {{ level.description }}
            </li>
          </ul>
        </div>
        <!-- <h1>Decorations</h1>
        Tier 1 Slots: {{ parsed_set.decorations.tier_1_slots_equiped }}/{{ parsed_set.decorations.tier_1_slots }}<br>
        Tier 2 Slots: {{ parsed_set.decorations.tier_2_slots_equiped }}/{{ parsed_set.decorations.tier_2_slots }}<br>
        Tier 3 Slots: {{ parsed_set.decorations.tier_3_slots_equiped }}/{{ parsed_set.decorations.tier_3_slots }}<br>
        <h2>List</h2>
        <span v-for="decoration in parsed_set.decorations.equiped" :key="decoration.name" v-text="decoration.name"></span> -->
      </div>
    </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import json_data from "./assets/data.json";
import item_list from "./assets/item_list.json";
import skill_list from "./assets/skills.json";

export default {
  name: "App",
  components: {
    HelloWorld
  },
  watch: {
    "set.helmet": function() {
      console.log("???");
      this.update_set();
    },
    "set.chest": function() {
      console.log("???");
      this.update_set();
    },
    "set.arms": function() {
      console.log("???");
      this.update_set();
    },
    "set.waist": function() {
      console.log("???");
      this.update_set();
    },
    "set.legs": function() {
      console.log("???");
      this.update_set();
    }
  },
  methods: {
    update_set() {
      console.log(this.$data.set);
      var set = this.$data.set;
      var item_list = this.$data.item_list;
      var parsed_set;
      this.$data.parsed_set["gear"]["weapon"] =
        item_list["weapons"][set.weapon];
      this.$data.parsed_set["gear"]["charm"] = item_list["charms"][set.charm];
      this.$data.parsed_set["gear"]["helmet"] =
        item_list["helmets"][set.helmet];
      this.$data.parsed_set["gear"]["chest"] = item_list["chests"][set.chest];
      this.$data.parsed_set["gear"]["arms"] = item_list["arms"][set.arms];
      this.$data.parsed_set["gear"]["waist"] = item_list["waists"][set.waist];
      this.$data.parsed_set["gear"]["legs"] = item_list["legs"][set.legs];
      this.$data.parsed_set["decorations"]["tier_1_slots"] =
        parseInt(item_list["helmets"][set.helmet]["tier_1_slots"]) +
        parseInt(item_list["chests"][set.chest]["tier_1_slots"]) +
        parseInt(item_list["arms"][set.arms]["tier_1_slots"]) +
        parseInt(item_list["waists"][set.waist]["tier_1_slots"]) +
        parseInt(item_list["legs"][set.legs]["tier_1_slots"]);
      this.$data.parsed_set["decorations"]["tier_2_slots"] =
        parseInt(item_list["helmets"][set.helmet]["tier_2_slots"]) +
        parseInt(item_list["chests"][set.chest]["tier_2_slots"]) +
        parseInt(item_list["arms"][set.arms]["tier_2_slots"]) +
        parseInt(item_list["waists"][set.waist]["tier_2_slots"]) +
        parseInt(item_list["legs"][set.legs]["tier_2_slots"]);
      this.$data.parsed_set["decorations"]["tier_3_slots"] =
        parseInt(item_list["helmets"][set.helmet]["tier_3_slots"]) +
        parseInt(item_list["chests"][set.chest]["tier_3_slots"]) +
        parseInt(item_list["arms"][set.arms]["tier_3_slots"]) +
        parseInt(item_list["waists"][set.waist]["tier_3_slots"]) +
        parseInt(item_list["legs"][set.legs]["tier_3_slots"]);
      this.$data.parsed_set["skills"] = [];
      var processed_skills = [];
      for (
        var i = 0;
        i < item_list["helmets"][set.helmet]["skills"].length;
        i++
      ) {
        var skill_id = parseInt(
          item_list["helmets"][set.helmet]["skills"][i]["skill_id"]
        );
        if (processed_skills.includes(skill_id)) {
          var index = processed_skills.indexOf(skill_id);
          this.$data.parsed_set["skills"][index]["unlocked_level"] += parseInt(
            item_list["helmets"][set.helmet]["skills"][i]["level"]
          );
        } else {
          var skill = {
            name: this.$data.skills[skill_id]["name"],
            unlocked_level: parseInt(
              item_list["helmets"][set.helmet]["skills"][i]["level"]
            ),
            max_level: this.$data.skills[skill_id]["max_level"],
            levels: this.$data.skills[skill_id]["levels"]
          };
          this.$data.parsed_set["skills"].push(skill);
          processed_skills.push(skill_id);
        }
        console.log(item_list["helmets"][set.helmet]["skills"][i]["skill_id"]);
      }
      for (
        var i = 0;
        i < item_list["chests"][set.chest]["skills"].length;
        i++
      ) {
        var skill_id = parseInt(
          item_list["chests"][set.chest]["skills"][i]["skill_id"]
        );
        if (processed_skills.includes(skill_id)) {
          var index = processed_skills.indexOf(skill_id);
          this.$data.parsed_set["skills"][index]["unlocked_level"] += parseInt(
            item_list["chests"][set.chest]["skills"][i]["level"]
          );
        } else {
          var skill = {
            name: this.$data.skills[skill_id]["name"],
            unlocked_level: parseInt(
              item_list["chests"][set.chest]["skills"][i]["level"]
            ),
            max_level: this.$data.skills[skill_id]["max_level"],
            levels: this.$data.skills[skill_id]["levels"]
          };
          this.$data.parsed_set["skills"].push(skill);
          processed_skills.push(skill_id);
        }
        console.log(item_list["chests"][set.chest]["skills"][i]["skill_id"]);
      }
      for (var i = 0; i < item_list["arms"][set.arms]["skills"].length; i++) {
        var skill_id = parseInt(
          item_list["arms"][set.arms]["skills"][i]["skill_id"]
        );
        if (processed_skills.includes(skill_id)) {
          var index = processed_skills.indexOf(skill_id);
          this.$data.parsed_set["skills"][index]["unlocked_level"] += parseInt(
            item_list["arms"][set.arms]["skills"][i]["level"]
          );
        } else {
          var skill = {
            name: this.$data.skills[skill_id]["name"],
            unlocked_level: parseInt(
              item_list["arms"][set.arms]["skills"][i]["level"]
            ),
            max_level: this.$data.skills[skill_id]["max_level"],
            levels: this.$data.skills[skill_id]["levels"]
          };
          this.$data.parsed_set["skills"].push(skill);
          processed_skills.push(skill_id);
        }
        console.log(item_list["arms"][set.arms]["skills"][i]["skill_id"]);
      }
      for (
        var i = 0;
        i < item_list["waists"][set.waist]["skills"].length;
        i++
      ) {
        var skill_id = parseInt(
          item_list["waists"][set.waist]["skills"][i]["skill_id"]
        );
        if (processed_skills.includes(skill_id)) {
          var index = processed_skills.indexOf(skill_id);
          this.$data.parsed_set["skills"][index]["unlocked_level"] += parseInt(
            item_list["waists"][set.waist]["skills"][i]["level"]
          );
        } else {
          var skill = {
            name: this.$data.skills[skill_id]["name"],
            unlocked_level: parseInt(
              item_list["waists"][set.waist]["skills"][i]["level"]
            ),
            max_level: this.$data.skills[skill_id]["max_level"],
            levels: this.$data.skills[skill_id]["levels"]
          };
          this.$data.parsed_set["skills"].push(skill);
          processed_skills.push(skill_id);
        }
        console.log(item_list["waists"][set.waist]["skills"][i]["skill_id"]);
      }
      for (var i = 0; i < item_list["legs"][set.legs]["skills"].length; i++) {
        var skill_id = parseInt(
          item_list["legs"][set.legs]["skills"][i]["skill_id"]
        );
        if (processed_skills.includes(skill_id)) {
          var index = processed_skills.indexOf(skill_id);
          this.$data.parsed_set["skills"][index]["unlocked_level"] += parseInt(
            item_list["legs"][set.legs]["skills"][i]["level"]
          );
        } else {
          var skill = {
            name: this.$data.skills[skill_id]["name"],
            unlocked_level: parseInt(
              item_list["legs"][set.legs]["skills"][i]["level"]
            ),
            max_level: this.$data.skills[skill_id]["max_level"],
            levels: this.$data.skills[skill_id]["levels"]
          };
          this.$data.parsed_set["skills"].push(skill);
          processed_skills.push(skill_id);
        }
        console.log(item_list["legs"][set.legs]["skills"][i]["skill_id"]);
      }
    }
  },
  created: function() {
    this.update_set();
  },
  data() {
    return {
      set: json_data["set"],
      parsed_set: json_data["parsed_set"],
      item_list: item_list,
      skills: skill_list
    };
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 500px;
}
.column {
  float: left;
  width: 33.33%;
  height: 500px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  height: 500px;
  display: table;
  clear: both;
}
</style>
